:root {
	color-scheme: light dark;
}

:root[data-mantine-color-scheme='light'] {
	color-scheme: light;
}

:root[data-mantine-color-scheme='dark'] {
	color-scheme: dark;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: var(--mantine-color-body);
	color: var(--mantine-color-text);
	font-family: var(--mantine-font-family);
	-webkit-font-smoothing: antialiased;
}

#root {
	min-height: 100vh;
}
