.card {
  background: rgba(255, 255, 255, 0.98);
}

.formRow {
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  text-align: center;
}


.dateInput {
  width: 220px;
}

.calorieInput {
  width: 220px;
}

.textInput {
  width: 220px;
}

.noteInput {
  width: 220px;
}

.saveRow {
  display: flex;
  justify-content: center;
}
